@import "../../styles/variables";
@import "../../styles/mixins";

.articles {
  font-family: $base-font;
  width: $container-width;
  margin: 0 auto;

  .header {
    display: flex;
    align-items: center;
    margin: {
      top: 100px;
      bottom: 50px;
    }

    .headline {
      font-size: 2.5em;
      margin-right: 50px;
    }
  }

  .table {
    border-collapse: collapse;
    width: 100%;

    .th {
      border-bottom: 2px solid $border-line;
      padding-top: 12px;
      text-align: left;
      padding: {
        bottom: 12px;
      }
    }

    .td {
      border-bottom: 1px solid $border-line;
      line-height: 2.5em;
      font-size: 0.9em;
    }
  }
}
