@import "../../variables";

.editArticle {
  font-family: $base-font;
  width: $container-width;
  margin: 0 auto;

  .header {
    display: flex;
    align-items: center;
    margin: {
      top: 100px;
      bottom: 50px;
    }

    .headline {
      font-size: 2.5em;
      margin-right: 50px;
    }

    .btn {
      @include set-button;
      position: relative;

      &:hover,
      &:focus {
        background-color: lighten($color-button, 20%);
      }
    }
  }

  .form {
    .label {
      display: inline-block;
      font-size: 1em;
      margin-top: 20px;
    }

    .inputTitle {
      font-size: 1.3em;
      padding: 5px 10px;
      border: 1px solid $border-line;
      width: $minor-container;
      margin: {
        top: 10px;
        bottom: 30px;
      }
    }

    .btnFile {
      @include set-button;

      display: inline-block;
      margin: {
        top: 10px;
        bottom: 30px;
      }

      &:hover,
      &:focus {
        background-color: lighten($color-button, 20%);
      }
    }

    .inputContent {
      font-family: $base-font;
      min-height: 30vh;
      font-size: 1.3em;
      padding: 5px 10px;
      border: 1px solid $border-line;
      width: $minor-container;
      margin: {
        top: 10px;
        bottom: 30px;
      }
    }
  }
}

//Dark mode

.editArticle.darkMode {
  .darkMode {
    @include submit-button-dark-mode;
  }

  .inputTitle,
  .inputContent {
    background-color: $dakr-mode-main-background;
    border: 1px solid $dark-mode-border-line;
    outline: none;
    caret-color: white;
    color: $dark-mode-text-color;

    &:focus-visible {
      border: 2px solid lighten($dark-mode-border-line, 10%);
      margin-top: 9px;
      margin-left: -1px;
      margin-bottom: 29px;
    }
  }
}
