@import "../../variables";

.navigation {
  background-color: $nav-background;
  height: 50px;
  display: flex;

  .container {
    display: flex;
    margin: 0 auto;
    height: 100%;
    width: $container-width;
    align-items: center;
    justify-content: space-between;

    .lists {
      display: inline-flex;
      list-style: none;

      .oneList {
        display: flex;
        margin-right: 20px;
        align-items: center;
      }
    }

    .logIn {
      color: $login-text-color;
      text-decoration: none;
    }
  }
}

.darkMode {
  background-color: $navigation-background-color;
}
