@import "../../variables";

.navigation {
  background-color: $nav-background;
  height: 50px;
  display: flex;

  .container {
    display: flex;
    margin: 0 auto;
    height: 100%;
    width: $container-width;
    align-items: center;
    justify-content: space-between;

    .nav-list {
      display: inline-flex;
      list-style: none;

      li {
        display: flex;
        margin-right: 20px;
        align-items: center;
      }
    }

    .logIn {
      color: $login-text-color;
      text-decoration: none;
    }

    .icon {
      margin-left: 5px;
    }
  }
}

//Dark mode

.navigation.dark-mode {
  background-color: $navigation-background-color;
}

.main-dark-mode {
  background-color: $dakr-mode-main-background;
  min-height: 100vh;
}

//Toast dark mode
.Toastify {
  .Toastify__toast-container.dark-mode {
    .Toastify__toast {
      color: $dark-mode-text-color;
      background-color: $dakr-mode-main-background;
    }
  }
}
