@import "../../variables";

.btn {
  background: transparent;
  outline: none;
  border: none;
  .link {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 22px;

    .icon {
      margin-left: 5px;
    }
  }
}

.darkMode {
  color: $dark-mode-nav-text !important;
}
