@import "../../styles/variables";

.btnTheme {
  position: relative;
  border: none;
  background-color: transparent;
}

.btnTheme:hover {
  cursor: pointer;
}

.darkMode {
  color: $dark-mode-nav-text !important;
}
