@import "../../styles/variables";
@import "../../styles/mixins";

.container {
  width: $minor-container;
  margin: 0 auto;

  .comment {
    display: inline-table;
    border-bottom: 2px solid $border-line;
    padding-bottom: 30px;
    margin-bottom: 20px;

    .articleTitle {
      font-size: 2em;
      margin: {
        top: 35px;
        bottom: 20px;
      }
    }

    .author,
    .date {
      color: $lighter-text;
      font: {
        size: 0.9em;
        weight: normal;
      }
      margin: {
        right: 10px;
        bottom: 15px;
      }
    }

    .image {
      width: 100%;
      margin: {
        bottom: 15px;
      }
    }

    .content {
      font-size: 1.2em;
      line-height: 1.5em;
    }
  }

  .info {
    margin-bottom: 10px;

    span {
      font: {
        size: 1.5em;
        weight: bold;
      }
    }
  }
}

//Dark mode
.darkMode {
  .comment-article {
    border-bottom: 2px solid rgb(88, 88, 88);
  }
  .date,
  .author {
    color: darken($dark-mode-text-color, 40%);
  }
}
