@import "../../variables";

//Dark mode
.button-small.dark-mode {
  height: 25px;
  width: 50px;
  color: $dark-mode-text-color;
  outline: none;
  border: none !important;
  transition: background-color ease-in-out 0.5s;

  @include submit-button-dark-mode;
}
