@import "./styles/variables";

.appContainer {
  position: relative;
  padding-bottom: 50px;
  min-height: 100vh;
  .container {
    height: 100%;
    font-family: $base-font;
    width: $container-width;
    margin: 0 auto;
  }
}

.darkMode {
  color: $dark-mode-text-color;
  background: $dakr-mode-main-background;
}
