@import "./styles/variables";
@import url("https://fonts.googleapis.com/css2?family=Neucha&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Neucha", cursive;
}

body {
  min-height: 100vh;
}

#root {
  min-height: 100%;
}

//Toast dark mode
.Toastify {
  .Toastify__toast-container.dark-mode {
    .Toastify__toast {
      color: $dark-mode-text-color;
      background-color: $dakr-mode-main-background;
    }
  }
}
