@import "../../styles/variables";
@import "../../styles/mixins";

.login {
  position: absolute;
  top: calc(50% - 200px);
  left: calc(50% - 200px);
  width: 400px;
  height: 400px;
  border-radius: 15px;
  box-shadow: 15px 15px 40px $shadow;
  display: flex;

  .border {
    margin: 40px;
    width: 100%;
    position: relative;

    .headline2 {
      font: {
        size: 2em;
      }
      margin-bottom: 30px;
    }

    .form {
      .label {
        font: {
          size: 1.2em;
          weight: bold;
        }
      }

      .input {
        box-sizing: border-box;
        width: 100%;
        border: 1px solid $border-line;
        border-radius: 4px;
        padding: 10px 10px;
        font-size: 1em;
        outline: none;
        margin: {
          top: 10px;
          bottom: 20px;
        }
        &:hover {
          border: 1px solid darken($border-line, 20%);
        }
        &:focus-visible {
          border: 1px solid darken($border-line, 50%) !important;
        }
      }
    }
  }
}

.login.darkMode {
  box-shadow: 15px 15px 40px $dark-mode-shadow;
  background-color: $navigation-background-color;

  .border {
    color: $dark-mode-text-color;
    .form {
      .input {
        color: $dark-mode-text-color;
        background-color: $navigation-background-color;
        border: 1px solid lighten(black, 10%);
        posi &:hover {
          border: 1px solid $dark-mode-border-line;
        }
        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus,
        &:-webkit-autofill:active {
          -webkit-box-shadow: 0 0 0 30px $navigation-background-color inset !important;
        }
        &:-webkit-autofill {
          -webkit-text-fill-color: $dark-mode-text-color !important;
        }
      }
    }
  }
}
